<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/morgan.css">
</head>

{{> navbar}}

	<div class="container">
		<div class="row">
            <div class="col-md-4">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
                        <div class="col-md-12">
                            {{#each meetup}} 
                                <h3>{{this.eventName}}<h3>
                                <h6>Date: {{this.date}}<h6>
                                <h6>Total Attendees: {{this.totalAttendees}}<h6>   
                                <a href="/meetups/{{this.id}}/{{this.userName}}" style="color: inherit; text-decoration: none;"><button class="btn btn-site btn-sm" type="submit">Join</button></a>
                            {{/each}} 
                        </div>
					</div>
				</div>
			</div>
            <div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
                        <div class="col-md-12">
                            <h3>Members</h3>
                                {{#each members}} 
                                <img class="center" src=""+image"">
                                    <p{{this.name}}<p>   
                                {{/each}}
                        </div>
					</div>
				</div>
			</div>
		</div>

			<div class="col-md-8">
                <div class="row">
                    <div class="panel panel-default">
					<div class="panel-body">
                    <div class="col-md-12">
                        {{#each eventSuggestions}} 
                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="color: #FB7722;">{{this.title}}</h3>
                                <h4 style="font-size: 24px; color: #000;">{{this.venue}}</h4>
                                <p>Up Votes: {{this.upVote}}</p>
                                <p>Down Votes: {{this.downVote}}</p>
                                <a style="color: inherit; text-decoration: none;" href="{{this.link}}" target="_blank"><button class="btn btn-site btn-sm" type="submit" id="info">More Info</button></a>
                            </div>
                            {{!-- <div class="col-md-4">
                                <a href="suggestions/like/{{this.id}}"><input type="image" src="/assets/img/thumbsUP.jpg" height="80px" width="60px" alt="Submit"></a>
                                <a href="suggestions/dislike/{{this.id}}"><input type="image" src="/assets/img/thumbsDOWN.png" height="100px" width="100px"  alt="Submit"></a>
                            </div> --}}
                        </div><br><hr>
                        {{/each}}
                    </div>
                </div>
			</div>
                </div>
			</div>
		</div>
	</div>
    {{> footer}}